# Core functionality - changes here should be rare!
/src/app.py                   @kawayee
/src/backend/database.py      @kawayee
/src/backend/routers/auth.py  @kawayee

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kawayee
